@font-face {
src: local('Frutiger'), url('font/Frutiger.woff') format('woff');
}


/******* modal bottom left ******/
.modal .modal-side {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 400px;
    margin: 0;
}		
.modal .modal-dialog.modal-bottom-left {
    bottom: 10px;
    left: 10px;
}

.modal-dialog.modal-bottom-left {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
}
.modal-backdrop.fade.show {
    display: none;
}
body{
	font-family: 'Frutiger';
	margin: 0 auto;
}
select:focus {
    outline: 0;
}
span.last-value {
    color: #ddd;
    bottom: -12px;
    position: absolute;
    font-size: 14px;
    left: 10px;
}
span.top-value {
    position: absolute;
    top: 1px;
    color: #ddd;
    font-size: 14px;
    left: 0;
}
.graph-custom {
    position: relative;
    padding-bottom: 80px;
}
.graph-custom-div{
  height: 290px;
  width: 10px;
  position: absolute;
  top: 10px;
  left: 35px;
  padding: 4px 0px;
}
span.average{
    position: absolute;
    height: 2px;
    /*left: -35px;*/
    left: 27px;
    width: auto;
    font-size: 14px;
}
.green-text{
  color: #00ff00;
}
.dish-box {
    position: relative;
    width: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.widget-header {

    -webkit-box-flex: 0;
        -ms-flex: 0 0 8px;
            flex: 0 0 8px;
    min-width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.widget-header > span {
    /*color: #41D582;*/
    font-size: 13px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    white-space: nowrap;
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
            opacity: 1;
}
div#Dash {
    width: 120px;
}
.logo-bottom img {
    max-width: 50px;
    position: absolute;
    bottom: -39px;
    left: 38%;
    right: 0;
    text-align: center;
    transform: translateX(-50%);
    /*background-color: rgba(0,0,0,0.4);*/
    padding: 3px 9px;
}
.all-rediates {
    float: left;
    width: 100%;
    padding: 20px 0px;
}
.all-rediates > div {
    display: inline-block;
    width: 11%;
    float: left;
    padding: 0px 10px;
}
.all-rediates > div label input {
    margin-left: 0px;
    margin-top: 1px;
    margin-bottom: 0;
    float: left;
}
.all-rediates h4 {
    margin-top: 0px;
    margin-bottom: 8px;
}
.all-rediates > div label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}
.loader-top {
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    text-align: center;
    padding: 40px 0px;
    z-index: 9;
    height: 100vh;
    display: none;
}
.loader-top img {
    max-width: 120px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.part-div {
    display: inline-block;
    width: 140px;
    position: relative;
    float: left;
}

.global-section {
    border-right: 1px solid #ddd;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
}
.section-div h2 {
    color: #ddd;
    font-size: 16px;
    text-align: center;
   /* border-bottom: 1px solid #ddd;*/
    margin: 0;
        position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.global-section:last-child
{
  border-right: none;
}

.firstb{
	    border-right: 1px dotted #ddd;
}

.power, .fossile {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
            margin-top:15px;
}
 .automation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.inner-apm-block {
    position: relative;
   
}

.next-level .section-div .inner-apm-block {
    position: relative;
    padding-top: 14px;
}

.heading_panel {
    text-align: center;
    width: 100%;
    
}
.hawa{
	position: relative;
	 border-top: 1px solid #ddd;
	 width: auto;
	 
	 padding-bottom:50px;
}
.hawa:after{
	content: "";
	background-color: #ddd;
	width: 1px;
	height: 10px;
	right: 0;
	top:0px; 
	position: absolute;
	display: inline-block;
}
.hawa:before{
	content: "";
	background-color: #ddd;
	width: 1px;
	height: 10px;
	left: 0;
	top:0px; 
	position: absolute;
	display: inline-block;
}
.inner-apm-block{
	position: relative;
}

.main-pfa-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 92%;
    margin: 0 auto;
    position: relative;
}
.dropbox_panel {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
span.highlight_drop_panel {
    font-weight: bold;
    font-size: 30px;
}
.dropbox_panel p {
    font-size: 17px;
    max-width: 800px;
    margin: 0 auto;
}

.dropbox_panel select {
    background: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    -webkit-appearance: none;
    padding: 10px 0;
    background-image: url(image/down-button.png);
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-size: 11px;
    padding-right: 17px;
    margin-right: -15px;
}
.dropbox_panel,.second_block,.third_block{
  display: none;
}
.warning-icon img {
    max-width: 40px;
    background-color: transparent;
}
.warning-icon {
    position: absolute;
    bottom: 10px;
    left: 85px;
}

.warning-icon2 img {
    max-width: 45px;
    background-color: transparent;
}
.warning-icon2 {
    position: absolute;
    bottom: 10px;
    left: 85px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
/*.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
}*/

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

select.chevron{
  background-image: url('');
}
/*select.chevron:hover{
  background-image: url(image/down-button.png);
}*/
#word-dropdown {
  width: 82px;
} 
 
#width_tmp_select{
  display : none;
}
/*.word option {
    width: 100px;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}*/
.automation.bajaj .logo-bottom img {
    bottom: -44px;
}

.automation.bajaj {
    margin-top: 15px;
}
.b-bottom {
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd;
    position: relative;
    display: flex;
}

.b-bottom:after{
	content: "";
	background-color: #ddd;
	width: 1px;
	height: 10px;
	right: 0;
	bottom:0px; 
	position: absolute;
	display: inline-block;
}
.b-bottom:before{
	content: "";
	background-color: #ddd;
	width: 1px;
	height: 10px;
	left: 0;
	bottom: 0px; 
	position: absolute;
	display: inline-block;
}
.next-level{
  display: none;
}
.arraw-icon img {
    max-width: 20px;
}
.arraw-icon {
    position: absolute;
    top: -14px;
    left: 0;
    right: 47px;
    text-align: center;
}
.bar-highlight {
    fill: #ec008c;
    opacity: 1;
}


button.add_more span {
    padding: 0 10px 0 0;
}
button.add_more {
    background: transparent;
    color: #c7c7c7;
    border: 2px solid #c7c7c7;
    font-size: 20px;
    font-family: arial;
    padding: 5px 10px;
    font-weight: bold;
}
.button-div{
	width: '11%';
	z-index: 999999;
}
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #dfe3e7;
  /*//border: 1px solid #6F257F;*/
  padding: 6px;
  text-align: center;
}